<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title> E-Reader </title>
  </head>
  <body>
    <div class="topnav">
      <a href="/">Home</a>
      <a href="/about">About Us</a>
      <a href="/A1 Starter books">A1 Starter books</a>
      <a href="/A2 Elementary books">A2 Elementary books</a>
      <a href="/form">form</a>
    </div>
    <center> <h1> About Us: </h1></center> 
    <center> <p> We are a company  who decided to make this website to help people learn English because we have seen that there are a lot of people who want to learn English and read books online but they can't find it. </p></center> 
  </body>
</html>
